.slides {
    padding: 0;
    height: 100vh;


}
/*.slides.green {
    margin-bottom: 400px
}*/
.blue{
    background-color: blue;
}
.turqoise{
    background-color: turquoise;
}
.green{
    background-color: green;
}
.bordeaux{
    background-color: darkred;
}
svg{
    width: 99.1vw;
    height: auto;
}